html
    body
        header
            h1 Courses4Arab
            nav
                ul.parent
                    li
                        a(href="/")
                            | Home
                    li
                        a(href="about.html")  About Us 
                    li.mode change mode
                    li
                        a(href="support.html")  Support Us 
