include components/vars
doctype html
html(lang="ar")
    head
        include components/inhead
        title learn css in 1hr
    body
        include components/header
        section 
            h1 Ahmed Hesham 
            p Support US
        section
            h1 Products
            h3 #{price}
            button Buy
        include components/footer